* {
    color:#ff00aa;
    border:1px;
    font-family: Arial, f oo, bar, serif;
    font-weight: normal;
    font-size: 12pt; 
}
/* test multiple elements in the match */
e1, e2 {
    border: 3px;
}
button {
    border:3px;
    icon: url(images/checkbox_normal.png);
    icon-position: left;
    font-weight: bold;
}

transptest {
    background-color: transparent;
    color: #ff0000;
}

shadowtest {
    /* a black shadow offset by 3,2 with a blur radius of 4 */
    text-shadow: #000000 3px 2px 4px;
}
#shad{

}
#idmatch1 {
    margin: 87px;
}

.classmatch1 {
    margin: 88px;
}

#hex_test {
    background-color: #FF00ff;
}
/*
Button.classmatch2 {
    margin: 1px;
}
Button.classmatch3 {
    margin: 2px;
} */