body {
    font-family: sans-serif;
    color: black;
    background-color: white;
}

/* title page */
h1 {
    text-align: center;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 4em;
    font-size: 400%;
}
h3 {
    text-align: center;
    margin: 0px;
    border-style: none;
    font-size: 200%;
}


/* content page */
h2 {
    font-size: 300%;
}
ul {
    font-size: 200%;
}


/* slideshow stuff */
.page {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding:2em;
    margin:0;
    border: 0px solid red;
}
.incoming, .current, .outgoing {
    display: block;
    -webkit-transition: -webkit-transform 0.3s ease-in;
}
.current {
    -webkit-transform: translate(0px,0);
}
.incoming {
    -webkit-transform: translate(100%,0);
}
.outgoing {
    -webkit-transform: translate(-100%,0);
}
        