* {
    margin: 1px;
    padding: 2px;
    background-color: #ffffff;
    color: #000000;
    border-width: 1px;
    border-color: #000000;
    text-align: left;
    border-radius: 0px;
    shrink-to-fit: false;
    font-size: 12pt;
    font-family: Arial, serif;
    font-weight: normal;
}

/* =========== buttons =========== */
Button, Checkbox, Radiobutton, Togglebutton {
    margin: 3px;
    padding: 8px;
    background-color: #c0c0c0;
    border-width: 1px;
    color: #444444;
    border-color: #f8f8f8;
    border-radius: 11px;
    text-align: center;
    shrink-to-fit: true;
}

Button, Togglebutton {
    background: linear-gradient(center top, #ebebeb 0%, #a1a1a1 100%);
    /* a black shadow offset by 3,2 with a blur radius of 4 */
    text-shadow: #000000 0px 1px 4px;
}

Checkbox {
    border-width: 0px;
    background-color: transparent;
    icon: url(images/checkbox_normal.png);
    icon-position: left;
}

Checkbox:selected {
    icon: url(images/checkbox_selected.png);
}

Radiobutton {
    border-width: 0px;
    border-radius: 30px;
    background-color: transparent;
    icon: url(images/radiobutton_normal.png);
}

Togglebutton {
    border-radius: 3px;
}

Button:hover, Togglebutton:hover {
    background: linear-gradient(center top, #04acec 0%, #0186ba 100%);
    color: #ffffff;
    border-color: #808080;
}

Togglebutton:selected {
    background: linear-gradient(center top, #04acec 0%, #0186ba 100%);
    color: #ffffff;
    border-color: #808080;
}

/* =========== panels ======== */
Panel, HBox, VBox {
    background-color: #aaaaaa;
    border-width: 0px;
}

/* =========== scroll bars ========== */
Scrollbar {
    margin: 0px;
    border-width: 1px;
    border-color: #000000;
    background-color: #a0a0a0;

    thumb-background: linear-gradient(center top, #ffffff 0%, #808080 100%);
    thumb-background-color: #888888;
    thumb-border-color: #000000;
    thumb-border-radius: 3px;
    thumb-border-width: 1px;
    thumb-margin: 0px;
    
    left-arrow-background-color: #888888;
    left-arrow-border-color: #000000;
    left-arrow-border-width: 1px;
    left-arrow-margin: 0px;
    right-arrow-background-color: #888888;
    right-arrow-border-color: #000000;
    right-arrow-border-width: 1px;
    right-arrow-margin: 0px;
}

Scrollbar:vertical {
    thumb-background: linear-gradient(left center, #ffffff 0%, #808080 100%);    
}

/* ============== text box ============= */
Textbox, Passwordbox {
    padding: 4px;
    background-color: #d0d0d0;
}
Textbox:active, Passwordbox:active {
    background-color: #ffffff;
}
PopupMenuButton {
    background-color: #a0a0a0;
    background: linear-gradient(center top, #ebebeb 0%, #a1a1a1 100%);
    border-width: 1px;
    color: #444444;
    border-color: #808080;
    border-radius: 11px;
}

PopupMenu {
    background-color: #f0f0f0;
    border-radius: 11px;
    border-width: 1px;
    border-color: #808080;
    color: #444444;

    item-background-color: #f0f0f0;
    item-color: #444444;
    selected-item-margin: 1px;
    selected-item-background-color: #0000ff;
    selected-item-background: linear-gradient(center top, #04acec 0%, #0186ba 100%);
    selected-item-color: #ffffff;
}

ListView {
    margin: 0px;
    border-width: 0px;
    background-color:#f0f0f0;
    
    item-background-color: #f0f0f0;
    item-border-color: #00ff00;
    item-border-width: 0px;
    item-color: #000000;

    selected-item-background-color: #0000ff;
    selected-item-background: linear-gradient(center top, #04acec 0%, #0186ba 100%);
    selected-item-border-width: 1px;
    selected-item-border-color: #000000;
    selected-item-color: #ffffff;
}

