* {
    margin: 1px;
    padding: 2px;
    background-color: #ffffff;
    color: #000000;
    border-width: 1px;
    border-color: #000000;
    text-align: left;
    border-radius: 0px;
    shrink-to-fit: false;
    font-size: 12pt;
    font-family: Arial, serif;
    font-weight: normal;

    /* turn these on to draw lines showing the box dimensions */
    debug-margin:   false;
    debug-border:   false;
    debug-padding:  false;
}

/* =========== buttons =========== */
.-class-Button { /* this selects all subclasses of Button as well */
    margin: 3px;
    padding: 8px;
    background-color: #c0c0c0;
    border-width: 1px;
    color: #444444;
    border-color: #808080;
    border-radius: 11px;
    text-align: center;
    shrink-to-fit: true;
}

Label {
    border-width: 0px;
}

Button, Togglebutton {
    background: linear-gradient(center top, #ebebeb 0%, #a1a1a1 100%);
    /* a black shadow offset by 3,2 with a blur radius of 4 */
    text-shadow: #000000 0px 1px 4px;
}

Checkbox {
    border-width: 0px;
    background-color: transparent;
    icon: url(images/checkbox_normal.png);
    icon-position: left;
}

Checkbox:selected {
    icon: url(images/checkbox_selected.png);
}

Radiobutton {
    border-width: 0px;
    border-radius: 0px;
    background-color: transparent;
    icon: url(images/radiobutton_normal.png);
}

Radiobutton:selected {
    icon: url(images/radiobutton_selected.png);
}

Togglebutton {
    border-radius: 3px;
}

Button:hover, Togglebutton:hover {
    background: linear-gradient(center top, #04acec 0%, #0186ba 100%);
    color: #ffffff;
    border-color: #808080;
}

Togglebutton:selected {
    background: linear-gradient(center top, #04acec 0%, #0186ba 100%);
    color: #ffffff;
    border-color: #808080;
}

Linkbutton {
    background-color: transparent;
    shrink-to-fit: true;
    color: #000000;
    border-width: 0px;
    margin: 2px;
    padding: 3px;
}
Linkbutton:hover {
    color: #5050ff;
}


/* ============= Progress Bar and Slider =========== */

ProgressBar {
    shrink-to-fit: true;
    padding: 3px;
    
    background-color: #a0a0a0;
    background: linear-gradient(center top, #ebebeb 0%, #a1a1a1 100%);
    border-width: 1px;
    color: #444444;
    border-color: #808080;
    border-radius: 11px;
    
    bar-background-color: #0000ff;
    bar-background: linear-gradient(center top, #04acec 0%, #0186ba 100%);
    bar-margin: 2px;
    bar-border-color: #f0f0f0;
    bar-border-width: 1px;
    bar-border-radius: 10px;
}


Slider {
    width: 100px;
    height: 20px;
    background-color: black;
    background: linear-gradient(center top, #ebebeb 0%, #a1a1a1 100%);
    margin: 5px 1px 5px 1px;

    border-width: 1px;
    border-color: black;
    border-radius: 10px;

    thumb-background-color: white;
    thumb-background: linear-gradient(center top, #04acec 0%, #0186ba 100%);

    thumb-border-color: black;

    thumb-margin-left:   1px;
    thumb-margin-right:  1px;
    thumb-margin-top:    2px;
    thumb-margin-bottom: 2px;

    thumb-border-left-width: 1px;
    thumb-border-right-width: 1px;
    thumb-border-top-width: 1px;
    thumb-border-bottom-width: 1px;
}


/* =========== panels ======== */
Panel, HFlexBox, VFlexBox, GridBox, .-class-Panel {
    background-color: transparent;
    border-width: 0px;
    border-color: black;
    margin: 0px;
    padding: 3px;
}

#root {
    background-color: #d0d0d0;
}

/* =========== scroll bars ========== */
Scrollbar {
    width: 100px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-color: #000000;
    background-color: #a0a0a0;

    thumb-background: linear-gradient(center top, #ffffff 0%, #808080 100%);
    thumb-background-color: #888888;
    thumb-border-color: #000000;
    thumb-border-radius: 5px;
    thumb-border-width: 1px;

    thumb-margin-left: 0px;
    thumb-margin-right: 1px;
    thumb-margin-top: 0px;
    thumb-margin-bottom: 1px;

    left-arrow-background-color: #888888;
    left-arrow-border-color: #000000;
    left-arrow-border-width: 1px;
    left-arrow-margin: 0px;
    right-arrow-background-color: #888888;
    right-arrow-border-color: #000000;
    right-arrow-border-width: 1px;
    right-arrow-margin: 0px;
}

Scrollbar:vertical {
    thumb-background: linear-gradient(left center, #ffffff 0%, #808080 100%);    
    width: 20px;
    height: 100px;
}

/* ============== text box ============= */
Textbox, Passwordbox {
    padding: 6px;
    background-color: #d0d0d0;
    shrink-to-fit: true;
}
Textbox:active, Passwordbox:active {
    background-color: #ffffff;
}


/* ===========  Popups ============== */
PopupMenuButton {
    background-color: #a0a0a0;
    background: linear-gradient(center top, #ebebeb 0%, #a1a1a1 100%);
    border-width: 1px;
    color: #444444;
    border-color: #808080;
    border-radius: 11px;
    padding: 2px;
}

PopupMenu {
    background-color: #f0f0f0;
    border-radius: 11px;
    border-width: 1px;
    border-color: #808080;
    color: #444444;
    margin: 0px;

    item-background-color: #f0f0f0;
    item-color: #444444;
    item-margin: 0px;
    item-border-color: #000000;
    item-border-width: 0px;

    selected-item-margin: 0px;
    selected-item-background-color: #0000ff;
    selected-item-background: linear-gradient(center top, #04acec 0%, #0186ba 100%);
    selected-item-color: #ffffff;
    selected-item-border-color: #000000;
    selected-item-border-width: 1px;
}



/* ============ List and Table =========== */
ListView {
    margin: 0px;
    border-width: 1px;
    border-color: #a0a0a0;
    background-color:#f0f0f0;
    
    item-background-color: #f0f0f0;
    item-border-color: #00ff00;
    item-border-left-width: 0px;
    item-border-right-width: 0px;
    item-border-top-width: 0px;
    item-border-bottom-width: 0px;
    item-color: #000000;

    selected-item-background-color: #0000ff;
    selected-item-background: linear-gradient(center top, #04acec 0%, #0186ba 100%);
    selected-item-border-color: #000000;
    selected-item-color: #ffffff;
    
    selected-item-margin-top: 0px;
    selected-item-margin-bottom: 1px;
    selected-item-margin-left: 0px;
    selected-item-margin-right: 0px;
    selected-item-border-top-width:    1px;
    selected-item-border-bottom-width: 1px;
    selected-item-border-left-width:   0px;
    selected-item-border-right-width:  0px;
}

TableView {
    margin: 0px;
    border-width: 1px;
    border-color: #a0a0a0;
    background-color:#f0f0f0;

    item-background-color: #f0f0f0;
    item-border-color: #00ff00;
    item-border-left-width: 0px;
    item-border-right-width: 0px;
    item-border-top-width: 0px;
    item-border-bottom-width: 0px;
    item-color: #000000;

    selected-item-background-color: #0000ff;
    selected-item-background: linear-gradient(center top, #04acec 0%, #0186ba 100%);
    selected-item-margin-top: 0px;
    selected-item-margin-bottom: 1px;
    selected-item-margin-left: 0px;
    selected-item-margin-right: 0px;
    selected-item-border-top-width:    1px;
    selected-item-border-bottom-width: 1px;
    selected-item-border-left-width:   0px;
    selected-item-border-right-width:  0px;
    selected-item-border-color: #000000;
    selected-item-color: #ffffff;
}
